<% include ../partials/header %>
<% include ../partials/menu %>

<div class="container">
    <h1>Agregar Libro</h1>
    <form action="/book" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <label for="title">Titulo</label>
                </div>
                <div class="col-xd-8 col-md-10">
                    <input type="text" name="title" id="title" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <label for="description">Descripción</label>
                </div>
                <div class="col-xd-8 col-md-10">
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10" required></textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
                <div class="row">
                    <div class="col-xs-4 col-md-2">
                        <label for="fotoUrl">Foto</label>
                    </div>
                    <div class="col-xd-8 col-md-10">
                        <input type="file" name="fotoUrl" id="fotoUrl" class="form-control" required>
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <label for="page">Paginas</label>
                </div>
                <div class="col-xd-8 col-md-10">
                    <input type="number" name="page" id="page" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <label for="publishedAd">Fecha Publicación</label>
                </div>
                <div class="col-xd-8 col-md-10">
                    <input type="date" name="publishedAd" id="publishedAd" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="form-group text-right">
            <input type="submit" class="btn btn-success" value="Guardar">
        </div>
    </form>
</div>