<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container">
    <div class="card no-padding">
        <% if(book.fotoUrl) {%>
            <header class="cover" style="background: url(/images/books/avatars/<%=book.fotoUrl%>)center/cover no-repeat; padding: 15em 0">
            </header>
        <% } %>
        <div class="large-padding">
            <% if(book.title) {%>
                <p>
                    <strong>Titulo:</strong>
                    <span><%= book.title %></span>
                </p>
            <% } %>
            <% if(book.description) {%>
                <p>
                    <strong>Descripción:</strong>
                    <span><%= book.description %></span>
                </p>
            <% } %>
            <% if(book.page) {%>
                <p>
                    <strong>No. Páginas:</strong>
                    <span><%= book.page %></span>
                </p>
            <% } %>
        </div>
    </div>
</div>