<% include ../partials/header %>
<% include ../partials/menu %>
<div class="container">
    <div class="card no-padding">
        <header>
            <div class="large-padding">
                <h1><%= book.title %></h1>
                <p><%= book.description %></p>
                <p><%= book.publishedAt %></p>
                <p><%= book.page %></p>
            </div>
        </header>
    </div>
</div>